


.App{
  padding-top: 20px;
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  min-height: 100vh;
  padding-bottom: 30px;
 
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

li{
  list-style: none;
  font-size: x-large;
  padding-left: 30px;
  padding-right: 30px;
  
}

.anchor{
  text-decoration: none;
  color: white;
  font-size: x-large;
}


