
.pomoContainer{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pomocycle{
    color: #ffffff;
    text-align: center;
    width: 20rem;
    height: 20rem;
    border: 5px solid #fff;
    border-radius: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row2{
    display: flex;
    padding-top: 10px;
}

.rowContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftchildpart{
    padding-right: 20px;
}

.rightchildpart{
    padding-left: 20px;
}

.arrow{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: yellow;
    font-size: large;
}

h3{
    color: white;
}